.pai{
    width: 700px;
    height: 200px;
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
}
.item{
    border: solid blue 7px;
    background-color: white;
    text-align: center;
    padding: 15px;

}
.a{
    grid-column: 1 / span 2;
}
.b{
    grid-row: 1 / span 2;
    grid-column: 3;
}
.e{
    grid-column: 1 / span 3;
    grid-row: 3;
}